<div>
  <!-- Step 1 Start -->
  <div *ngIf="rDCount == 1">
    <!-- Risk Details Start -->
    <div>
      <div>Risk Details</div>
      <form [formGroup]="riskDetailsForm">
        <div>Is Member Data Available: 
          <div>
            <input type="radio" name="is_member_data_available" value="Yes" formControlName="is_member_data_available">
            <label for="iMDataRadio">
              <span> Yes </span>
            </label>
          </div>
          <div>
            <input type="radio" name="is_member_data_available" value="No" formControlName="is_member_data_available">
            <label for="iMDataRadio">
              <span> No </span>
            </label>
          </div>
        </div>
        <div>Proposal Basis: * 
          <select formControlName="proposal_basis">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
          <span *ngIf="getFormControl('proposal_basis').touched && 
          getFormControl('proposal_basis').errors?.required">
            This field is mandatory
          </span>
        </div>
        <div>Industry Type: 
          <select formControlName="industry_type">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select></div>
        <div>Insured person Relationship: *
          <select formControlName="insured_person_relationship">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
          <span *ngIf="getFormControl('insured_person_relationship').touched && 
          getFormControl('insured_person_relationship').errors?.required">
            This field is mandatory
          </span>
        </div>
        <div>Description: <textarea formControlName="description"></textarea></div>
        <div>Tax Type:  
          <div>
            <input type="radio" name="tax_type" value="GST" formControlName="tax_type">
            <label for="taxTypeRadio">
              <span> GST </span>
            </label>
          </div>
          <div>
            <input type="radio" name="tax_type" value="STAX" formControlName="tax_type">
            <label for="taxTypeRadio">
              <span> STAX </span>
            </label>
          </div>
        </div>
        <div>Corporate Floater: 
          <input type="text" class="form-control" formControlName="corporate_floater">
          <span *ngIf="getFormControl('corporate_floater').touched && 
          getFormControl('corporate_floater').errors?.required">
            This field is mandatory
          </span>
        </div>
        <div>Family Unit Definition: <input type="text" class="form-control" formControlName="family_unit_definition"></div>
        <div>Premium Calculation Basis: * 
          <select formControlName="premium_calculation_basis">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
          <span *ngIf="getFormControl('premium_calculation_basis').touched && 
          getFormControl('premium_calculation_basis').errors?.required">
            This field is mandatory
          </span>
        </div>
        <div>Credit Limit: <input type="text" class="form-control" formControlName="credit_limit"></div>
        <div>Free Look Period: <input type="text" class="form-control" formControlName="free_look_period"></div>
      </form>
    </div>
    <!-- Risk Details End -->

    <!-- Table Grid  Start -->
    <div>
      <div>SumInsured Type: 
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select></div>
      <div>Policy Varlent: 
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select></div>
      <div>Benefit Type: 
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select></div>
      <div>Sum Insured Basis: 
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select>
      </div>
      <div (click)="definitionAdd()">Definition: Link  </div>
    </div>
    <!-- Table Grid  End -->
  </div>
  <!-- Step 1 End -->

  <!-- Step 2 Start -->
  <div *ngIf="rDCount == 2">
    <!-- Group Definition Start -->
    <div>
        <div> Group Definition :</div>
        <div>
            Group
            Primary Member
            Dependents
            Total Members
            Group Family Type
            Sum Insured Per Member
            Total SumInsured(Group)
            Lives/Coverage: Link
            
            Clicking on live coverage
        </div>
    </div>
    <!-- Group Definition End -->

    <!-- TPA Information Start -->
    <div>
      <div>TPA Information</div>
      <div>TPA Code/Name: * <input type="text" class="form-control"> & Search</div>
      <div>TPA Branch: <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select>.</div>
      <div>Fee Type: <input type="text" class="form-control">.</div>
      <div>TPA Commission: <input type="text" class="form-control"></div>
    </div>
    <!-- TPA Information End -->
  </div>
  <!-- Step 2 End -->

  <!-- Step 3 Start -->
  <div *ngIf="rDCount == 3">
    <!-- Basic Covers Start -->
    <div>
      Basic Covers:
      In-patient Hospitalization
      Hospital Room Choice(Available for NON-ICU)
      Hospital Room Limit(Available for NON-ICU)
      Hospital Room Limit(Available for ICU/ICCU)
      Day Care Procedures
      Domiciliary Hospitalization
      Pre-hospitalization Medical Expenses in days
      Post-hospitalization Medical Expenses in days
    </div>
    <!-- Basic Covers End -->
    
    <!-- Add On Covers Start -->
    <div>
      Add On Covers:
      Organ Donor Expenses
      Road Ambulance Expenses - per claim
      Hospital cash
      Deductible
      Limits per Hospitalization claim
      Limits per Policy year
      OPD Expenses (Option-I Copayment)
      OPD Expenses (Option-II Doctor Visit)
      Ayush treatment (In-patient Hospitalization)
      Psychiatric care benefit (In-patient)
      Worldwide Critical illnesses Cover
      Health check up program
      HIV Cover(Including hepatitis cover)                   
      Second E - opinion(Once per Policy Year-subject to 1 E-option per Critical Illness/ medical condition
      Well mother
      Infertility Treatment
      Prefered hospital limitation
      First 30 Days waiting Period
      Pre-existing disease Waiting period
      Sub-limits on specific illnesses
      Two Year waiting Period
      Maternity cover from Day 1- Normal
      Maternity cover from Day 1- C-Section              
      Maternity cover from Day 1-Normal (including Pre-post Natal)
      Maternity cover from Day 1-C-Section (including Pre-post Natal)
      Maternity cover with 9 months waiting period - Normal
      Maternity cover with 9 months waiting period -C-Section
      Maternity with 9 months waiting period - Normal (including Pre-post Natal)
      Maternity with 9 months waiting period - C-Section (including Pre-post Natal)
      New born baby Expenses
      Vaccinations cover
      External congenital ailments covered
      Sports activity cover
      Chronic Management Program
      Wellness Coach
      Health Returns - Available to Employees Only
      Reload of Sum Insured
      Health assessment
      Corporate Buffer
      Ultra Modern Medicine
      Co-payment
      Deduction on per claim
      Deduction on aggregate claim
      Coverage of Non medical expenses
      Recovery Benefit
      Continuity of cover in case of pink slip
      Health Card
      Fitness Assessment
    </div>
    <!-- Add On Covers End -->
  </div>
  <!-- Step 3 End -->
</div>

<!-- Add Demography Popup Start -->
<div id="add-demography-popup" class="modal fade" bsModal #addDemographyModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div (click)="hideAddDemographyModal()">X</div>
      <div>
        <div>?</div>
        <div>Add Demography</div>
        <div>
          <div>Upload File : <button>Browse</button> </div>
          <div>OR</div>
          <div (click)="uploadMannualyButton()"> Upload Mannualy</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add Demography Popup End -->

<!-- Upload Mannualy Popup Start -->
<div id="add-demography-popup" class="modal fade" bsModal #uploadMannualyModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div (click)="hideUploadMannualyModal()">X</div>
        <div>
            Demography table
            Group
            Relation Category: Dropdown
            Age 91 days-5
            Age 6-10: 
            Age 11-15:
            Age 16- 17: 
            Age 18-20:
            Age 21-25: 
            Age 26-30:
            Age 31-35: 
            Age 36-40:
            Age 41-45:
            Age 46-50:
            Age 51-55:
            Age 56-60:
            Age 61-65:
            Age 66-70:
            Age 71-75:
            Age 76-80:
            Above 80:
            Total No lives: 
          </div>
    </div>
  </div>
</div>
<!-- Upload Mannualy Popup End -->

<!-- Link on 20.Sub-limits on specific illnesses Start -->
<div id="link-on-20-popup" class="modal fade" bsModal #lintOn20Modal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div (click)="hideUploadMannualyModal()">X</div>
        <div>
          Link on 20.Sub-limits on specific illnesses
          Cataract surgery
          Appendectomy
          Tonsillectomy
          Mastoidectomy
          Kidney Stone Removal
          Kidney Stone (incl DJ stent removal for same stone) 
          Lithotripsy
          Hysterectomy
          Hernia surgery-Open/Laparoscopic
          Hernia repair - Open (Inclusive of mesh)
          Hernia repair - Laparoscopic (Inclusive of mesh)
          Haemorrhoidectomy (Piles)
          Laparatomy
          Gall Bladder surgery
          Intestinal perforation (Surgery for)
          Renal Lithotomy
          Hydrocele(Surgery for)
          Renal calculi(Procedure)
          Ureteric calculi(Procedure)
          Joint Replacement(Unilateral)(Surgery for)
          Joint Replacement(Bilateral)(Surgery for)
          Hip Replacement(Unilateral)(Surgery for)
          Hip Replacement(Bilateral)(Surgery for)
          Knee Replacement(per knee)(Surgery for)
          Angioplasty /PTCA
          Coronary Artery diseases
          Chemotherapy/Treatment of Cancer (Per Session)
          Sinusitis (FESS)
          Benign Prostatic Hypertrophy (TURP)(Surgery for)
          Fistulectomy
          Cholecystectomy
          Lap Cholecystectomy
          Septoplasty
          Tympanoplasty
          Inpatient Dental Procedure
          CABG
          Glaucoma
          Valve Replacement
          ACL Tear/Medial Menisicus Tear
          Arthroscopic Surgery
          Endoscopic Procedure(Diagnostic & Therapeutic)
        </div>
    </div>
  </div>
</div>
<!-- Link on 20.Sub-limits on specific illnesses End -->
  
<!-- Link on 34.Chronic Management Program Start -->
<div id="link-on-34-popup" class="modal fade" bsModal #lintOn34Modal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div (click)="hideUploadMannualyModal()">X</div>
        <div>
          Link on 34.Chronic Management Program
          Hypertension_Diabetes Mellitus 2_Hyperlipidaemia
          Hypertension_Diabetes Mellitus 1_Asthma
          Hypertension_Diabetes Mellitus 2_Asthma
          Hypertension_Hyperlipidaemia_Asthma
          Diabetes Mellitus 1_Hyperlipidaemia_Asthma
          Diabetes Mellitus 2_Hyperlipidaemia_Asthma
          Hypertension_Diabetes Mellitus 1
          Hypertension_Diabetes Mellitus 2
          Hypertension_Hyperlipidaemia
          Hypertension_Asthma
          Hypertension
          Diabetes Mellitus 1_Asthma
          Diabetes Mellitus 2_Asthma
          Diabetes Mellitus 1_Hyperlipidaemia
          Diabetes Mellitus 2_Hyperlipidaemia
          Hyperlipidaemia_Asthma
          Diabetes Mellitus 1
          Asthma
          Hyperlipidaemia
          Diabetes Mellitus 2
          Asthma_Diabetes Mellitus 1_Hypertension_Hyperlipidaemia
          Asthma_Diabetes Mellitus 2_Hypertension_Hyperlipidaemia
          Hypertension_Diabetes Mellitus 1_Hyperlipidaemia
        </div>
    </div>
  </div>
</div>
<!-- Link on 34.Chronic Management Program End -->

<!-- Link on 35.Wellness Coach Start -->
<div id="link-on-35-popup" class="modal fade" bsModal #lintOn35Modal="bs-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div (click)="hideUploadMannualyModal()">X</div>
        <div>
          Link on 35.Wellness Coach
          Group 
          Group Primary Member
          Group SumInsured
          Group Dependent Member
          Enter no. of Primary Employees
          Enter no. of Dependent Members
          Family Type
        </div>
    </div>
  </div>
</div>
<!-- Link on 35.Wellness Coach End -->

<!-- Link on 36.Health Returns - Available to Employees Only Start -->
<div id="link-on-36-popup" class="modal fade" bsModal #lintOn36Modal="bs-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div (click)="hideUploadMannualyModal()">X</div>
        <div>
          Link on 36.Health Returns - Available to Employees Only
          Group 
          Group Primary Member
          Group SumInsured
          Group Dependent Member
          Enter no. of Primary Employees
          Enter no. of Dependent Members
          Employer Percentage
          Employee Percentage
        </div>
    </div>
  </div>
</div>
<!-- Link on 36.Health Returns - Available to Employees Only End -->

<!-- Link on 38.Health assessment Start -->
<div id="link-on-38-popup" class="modal fade" bsModal #lintOn38Modal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div (click)="hideUploadMannualyModal()">X</div>
        <div>
          Link on 38.Health assessment
          Group 
          Group Primary Member
          Group SumInsured
          Group Dependent Member
          Enter no. of Primary Employees
          Enter no. of Dependent Members
          Family Type
        </div>
    </div>
  </div>
</div>
<!-- Link on 38.Health assessment End -->

<!-- Link on 48.Fitness Assessment Start -->
<div id="link-on-48-popup" class="modal fade" bsModal #lintOn48Modal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div (click)="hideUploadMannualyModal()">X</div>
        <div>
          Link on 48.Fitness Assessment
          Group 
          Group Primary Member
          Group SumInsured
          Group Dependent Member
          Family Type
          Table header
          Team size
          Number of assessment
          Number of session
        </div>
    </div>
  </div>
</div>
<!-- Link on 48.Fitness Assessment End -->

