<div>
  <mat-tab-group>
    <mat-tab label="{{tab1Lable}} {{count}}">
      Create Business Information {{count}}
      <app-create-business [formNumber]="count" #createBusiness></app-create-business>
      <button (click)="backNext()">Back</button>
      <button (click)="buttonNext()">Next</button>
    </mat-tab>
    <mat-tab label="{{tab2Lable}}">
      <div>
        Client Name : {{clientDetails?.name}}
      </div>
      <div>
        Other Files :
        <span *ngFor="let file of clientDetails?.files">
          {{file}}
          <span (click)="downloadFile(file)">Download</span>
        </span>
      </div>
      <div>
        Note : {{clientDetails?.note}}
      </div>
      <button (click)="backTab2()">
        < Back</button>
          <button (click)="generateSearchClientId()"> > Generate/Search Client ID</button>
    </mat-tab>
  </mat-tab-group>

</div>


<!-- successModal -->
<app-popup [messageTitle]="'Business Intimation with CMD submited successfully'" 
  [buttonText]="'>Go to Client Page'" (onClickOutput)="hideSuccessModal()"
  #successModal></app-popup>
<!-- successModal -->