<div>
    <div *ngIf="clientList.length == 0">
      <div><input type="text" placeholder="Search Using Client Id" [(ngModel)]="clientId"></div>
      <div><input type="text" placeholder="Search Using Client Name" [(ngModel)]="clientName"></div>
      <div><input type="text" placeholder="Search Using PAN" [(ngModel)]="pan"></div>
      <div><input type="text" placeholder="Search Using Pincode" [(ngModel)]="pincode"></div>
      <button (click)="searchButton()">Search</button>
    </div>
    <div *ngIf="clientList.length > 0">
      Search Results
      <ag-grid-angular 
        #agGrid
        style="width: 500px; height: 500px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [rowSelection]="rowSelection"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
      <button (click)="createNew()">Create New</button>
    </div>
</div>
