<div>
  <div>
    <!-- step 1 Start -->
    <div *ngIf="pPCount == 1">
      <div>
        Table
      </div>

      <div> No Previous Insurance History?:
        <input type="checkbox">
      </div>
      <div>DO you want to capture any policy detail? :
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select>
      </div>
      <div>Internal Portability:
        <input type="checkbox">
      </div>
      <div>Previous Insurer Name: *
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select>
      </div>
      <div>Previous Insurer Address:
        <textarea></textarea>
      </div>
      <div>Name of the product:
        <input type="text" class="form-control">
      </div>
      <div>Break in:
        <div>
          <input type="radio" name="administrative_charges" value="Yes">
          <label for="acRadio">
            <span> Yes </span>
          </label>
        </div>
        <div>
          <input type="radio" name="administrative_charges" value="No">
          <label for="acRadio">
            <span> No </span>
          </label>
        </div>
      </div>
      <div>Reference Code:
        <input type="text" class="form-control">
      </div>
      <div>Previous Policy Number:
        <input type="text" class="form-control">
      </div>
      <div>Previous Policy Type:*
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select>
      </div>
      <div>Previous Policy Variant:*
        <select>
          <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
        </select>
      </div>
    </div>
    <!-- step 1 End -->

    <!-- step 2 Start -->
    <div *ngIf="pPCount == 2">
      <div>Previous Policy Start Date:* Datepicker</div>
      <div>Previous Policy End Date: Datepicker</div>
      <div>Are parents Covered In Previous Policy:
        <div>
          <input type="radio" name="administrative_charges" value="Yes">
          <label for="acRadio">
            <span> Yes </span>
          </label>
        </div>
        <div>
          <input type="radio" name="administrative_charges" value="No">
          <label for="acRadio">
            <span> No </span>
          </label>
        </div>
      </div>
      <div>Sum Insured:
        <input type="text" class="form-control">
      </div>
      <div>Cumulative Bonus Amount:
        <input type="text" class="form-control">
      </div>
      <div>Add ons/Riders taken:
        <textarea></textarea>
      </div>
      <div>Reason for Portability:
        <textarea></textarea>
      </div>
      <div>Claim on Previous year Policy:*
        <div>
          <input type="radio" name="administrative_charges" value="Yes">
          <label for="acRadio">
            <span> Yes </span>
          </label>
        </div>
        <div>
          <input type="radio" name="administrative_charges" value="No">
          <label for="acRadio">
            <span> No </span>
          </label>
        </div>
      </div>
      <div>Claimed Diagnosis:
        <textarea></textarea>
      </div>
      <div>Claim Recon Date:* Datepicker</div>
      <div>Total No. Of Claims:*
        <input type="text" class="form-control">
      </div>
      <div>Total Amount of Claims:*
        <input type="text" class="form-control">
      </div>
      <div>Number of Claims Paid:*
        <input type="text" class="form-control">
      </div>
      <div>Amount of Claims Paid:*
        <input type="text" class="form-control">
      </div>
    </div>
    <!-- step 2 End -->

    <!-- step 3 Start -->
    <div *ngIf="pPCount == 3">
      <div>Number of Claims Outstanding:
        <input type="text" class="form-control">
      </div>
      <div>Amount of Claims Outstanding:
        <input type="text" class="form-control">
      </div>
      <div>Number of Claims Reject:
        <input type="text" class="form-control">
      </div>
      <div>Amount of Claims Reject:
        <input type="text" class="form-control">
      </div>
      <div>Claims Paid as on Date (Reimbursement):
        <input type="text" class="form-control">
      </div>
      <div>Claims Paid as on Date (Cashless):
        <input type="text" class="form-control">
      </div>
      <div>Claims Outstanding as on Date (Reimbursement):
        <input type="text" class="form-control">
      </div>
      <div>Claims Outstanding as on Date (Cashless):
        <input type="text" class="form-control">
      </div>
      <div>Coverage as per expiring policy:
        <input type="text" class="form-control">
      </div>
      <div>For how many years policy has been active:
        <input type="text" class="form-control">
      </div>
      <div>Premium paid at inception (exclusive of Service Tax):
        <input type="text" class="form-control">
      </div>
      <div>Premium deletion during the year:
        <input type="text" class="form-control">
      </div>
      <div>Final Premium collected (exclusive of Service Tax) as on date - to be specified:
        <input type="text" class="form-control">
      </div>
      <div>Incurred Claim Ratio:
        <input type="text" class="form-control">
      </div>
      <div>Have you extended your current policy on short term basis?:
        <div>
          <input type="radio" name="administrative_charges" value="Yes">
          <label for="acRadio">
            <span> Yes </span>
          </label>
        </div>
        <div>
          <input type="radio" name="administrative_charges" value="No">
          <label for="acRadio">
            <span> No </span>
          </label>
        </div>
      </div>
      <div>Whether the PED exclusion / time bound eclusion have longer exclusion period than existing policy?:
        <div>
          <input type="radio" name="administrative_charges" value="Yes">
          <label for="acRadio">
            <span> Yes </span>
          </label>
        </div>
        <div>
          <input type="radio" name="administrative_charges" value="No">
          <label for="acRadio">
            <span> No </span>
          </label>
        </div>
      </div>
    </div>
    <!-- step 3 End -->

    <!-- step 4 Start -->
    <div *ngIf="pPCount == 4">
      <div>
        <div>If OPD cover given, then mention OPD claims separately</div>
        <div>Claims Paid as on Date (Reimbursement):
          <input type="text" class="form-control">
        </div>
        <div>Claims Outstanding as on Date(Reimbursement):
          <input type="text" class="form-control">
        </div>
        <div>Rare Claims:
          <input type="text" class="form-control">
        </div>
        <div>Claims Paid as on Date (Cashless):
          <input type="text" class="form-control">
        </div>
        <div>Claims Outstanding as on Date (Cashless):
          <input type="text" class="form-control">
        </div>
        <div>Outstanding Claims Loading (%) :
          <input type="text" class="form-control">
        </div>
      </div>
      <div>
        <div>Details of Claims paid under corporate buffer Facility as on today</div>
        <div>Claims Paid as on Date (Reimbursement):
          <input type="text" class="form-control">
        </div>
        <div>Claims Paid as on Date (Cashless):
          <input type="text" class="form-control">
        </div>
        <div>Claims Outstanding as on Date(Reimbursement):
          <input type="text" class="form-control">
        </div>
        <div>Claims Outstanding as on Date (Cashless):
          <input type="text" class="form-control">
        </div>
        <div>Total claims paid during the last two policy years immediately preceding the expiring year (Reimbursement): Textfield</div>
        <div>Total claims paid during the last two policy years immediately preceding the expiring year (Reimbursement): Textfield</div>
        <div>Total claims paid during the last three months of two year of policy immediately preceding the expiring year (Reimbursement):
          Textfield
        </div>
        <div>Total claims paid during the last three months of two year of policy immediately preceding the expiring year (Cashless):
          Textfield
        </div>
      </div>
    </div>
    <!-- step 4 End -->

    <!-- step 5 Start -->
    <div *ngIf="pPCount == 5">

      <div>Member details</div>
      <div>Expiring Year:
        <input type="text" class="form-control">
      </div>
      <div>Basis of Premium Charging - per Family or per Member covered:
        <input type="text" class="form-control">
      </div>
      <div>No. of Members at inception (Employees):
        <input type="text" class="form-control">
      </div>
      <div>No. of Members at inception (Dependents):
        <input type="text" class="form-control">
      </div>
      <div>Addition during the year (Employee):
        <input type="text" class="form-control">
      </div>
      <div>Addition during the year (Dependents):
        <input type="text" class="form-control">
      </div>
      <div>Deletion during the year (Employee):
        <input type="text" class="form-control">
      </div>
      <div>Deletion during the year (Dependents):
        <input type="text" class="form-control">
      </div>
      <div>Final no. of Members at expiry (with complete enrollment date ) (Employees):
        <input type="text" class="form-control">
      </div>
      <div>Final no. of Members at expiry (with complete enrollment date ) (Dependents):
        <input type="text" class="form-control">
      </div>
    </div>
    <!-- step 5 End -->

    <!-- step 6 Start -->
    <div *ngIf="pPCount == 6">
      <div>Family details</div>
      <div>Whether additional</div>
      <div>Whether additional Relationships Covered:?</div>
      <div>Any revision required in Family definition under renewal policy?</div>
      <div>Please specify if yes</div>
      <div>Net premium of expiry policy:</div>
      <div>Incumbent Intermediary:</div>

      <div>Condition/ Clauses/ Exclusion</div>
      <div>Condition / Clauses: (Max length 4000)</div>
      <div>Exclusion(Max length 4000)</div>
    </div>
    <!-- step 6 End -->
  </div>
</div>