<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="{{homeRfqLink}}">ABHI Workflow POC</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">         
        <a class="nav-item nav-link active" routerLink="{{homeRfqLink}}">Home</a>    
        <a class="nav-item nav-link active" routerLink="{{viewRfqLink}}">View Rfq</a>   
      </div>     
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
          <a class="nav-item nav-link">
              {{user}}
             </a>  
          <a class="nav-item nav-link" style="cursor: pointer" (click)="signout()">
              Sign Out
            </a>   
      </div>
    </div>
  </nav>

  <div class="container">
      <h2>Upload Rfq</h2>
      <form class="form-horizontal" [formGroup]="rfqForm">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Company Name :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="Enter company name" name="email" formControlName="companyName">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="companyAddress">Address :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="companyAddress" placeholder="Enter company address" name="companyAddress" formControlName="companyAddress">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="empCount">Employees :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="empCount" placeholder="Enter Employee Count" name="empCount" formControlName="empCount">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-2" for="amount">Amount :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="amount" placeholder="Enter Quote Amount" name="amount" formControlName="amount">
              </div>
          </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" (click)="submit()">Submit</button>
          </div>
        </div>
      </form>
    </div>

  <span *ngIf="showStatus" style="color:green">{{status}}</span>
  <span *ngIf="showError" style="color:red">{{status}}</span>

