<div>
  <!-- Step 1 Start -->
  <div *ngIf="gPCount == 1">
    <form [formGroup]="clientInformationForm">
      <!-- Client Information Start -->
      <div>
        <div>Client Information</div>
        <div>Client Code/Name:
          <input type="text" class="form-control" formControlName="client_code_name">
        </div>
        <div>GSTIN
          <select formControlName="gstin">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Dispatch Mode:
          <select formControlName="dispatch_mode">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Email:
          <input type="text" class="form-control" formControlName="email">
        </div>
      </div>
      <!-- Client Information End -->
  
      <!-- Relog Start -->
      <div>
        Relog (To be used for reinwarding of cancelled Application).
        <div>Previous Cancelled proposal Number/Previous Cancelled Policy Number:
          <input type="text" class="form-control" formControlName="previous_cancelled">
        </div>
        <div>Reason:
          <select formControlName="reason">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Process Remarks:
          <textarea formControlName="process_remarks"></textarea>
        </div>
      </div>
      <!-- Relog End -->
  
      <!-- Product Information Start -->
      <div>
        Product Information:
        <div>Business Type:*
          <select formControlName="business_type">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
          <span *ngIf="getFormControl('business_type').touched && getFormControl('business_type').errors?.required">
              This field is mandatory
            </span>
        </div>
        <div>Transaction type:
          <select formControlName="transaction_type">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Product Name/Code:
          <select formControlName="product_name_code">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Plan(Scheme) :
          <input type="checkbox" formControlName="plan_scheme">
        </div>
        <div>Policy variant:*
          <select formControlName="policy_variant">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
          <span *ngIf="getFormControl('policy_variant').touched && getFormControl('policy_variant').errors?.required">
            This field is mandatory
          </span>
        </div>
        <div>Document Control No:
          <input type="text" class="form-control" formControlName="document_control_no">
        </div>
        <div>Cover Type:
          <select formControlName="cover_type">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Plan Name: </div>
      </div>
      <!-- Product Information End -->
    </form>
  </div>
  <!-- Step 1 End -->

  <!-- Step 2 Start -->
  <div *ngIf="gPCount == 2">
    
    <!-- Business Source Information Start -->
    <form [formGroup]="businessInformationForm">
      <div>
        Business Source Information:
        <div>Office Code/Location:
          <input type="text" class="form-control" formControlName="office_code_location">
        </div>
        <div>Business Source Name:*
          <select formControlName="business_source_name">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
          <span *ngIf="getFormControl('business_source_name').touched && getFormControl('business_source_name').errors?.required">
              This field is mandatory
            </span>
        </div>
        <div>Sales Manager Name/Code:
          <input type="text" class="form-control" formControlName="sales_manager_name_code">
        </div>
        <div>Intermediary Channel Name/Code:*
          <input type="text" class="form-control" formControlName="intermediary_channel_name_code">
          <span *ngIf="getFormControl('intermediary_channel_name_code').touched && 
            getFormControl('intermediary_channel_name_code').errors?.required">
              This field is mandatory
          </span>
        </div>
        <div>Business Channel Type:
          <input type="text" class="form-control" formControlName="business_channel_type">
        </div>
        <div>Business Servicing Channel Type:
          <select formControlName="business_servicing_channel_type">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Business Channel Branch:
          <input type="text" class="form-control" formControlName="business_channel_branch">
        </div>
        <div>Business Servicing Channel:
          <input type="text" class="form-control" formControlName="business_servicing_channel">
        </div>
        <div>Brokerage/Commision Payable:*
          <input type="text" class="form-control" formControlName="brokerage_commision_payable">
          <span *ngIf="getFormControl('brokerage_commision_payable').touched && 
            getFormControl('brokerage_commision_payable').errors?.required">
              This field is mandatory
            </span>
        </div>
        <div>Share:
          <input type="text" class="form-control" formControlName="share">
        </div>
        <div>Is Multiple Intermediary:
          <input type="checkbox" formControlName="is_multiple_intermediary">
        </div>
        <div>Branch Reference ID:*
          <input type="text" class="form-control" formControlName="branch_reference_id">
          <span *ngIf="getFormControl('branch_reference_id').touched && 
            getFormControl('branch_reference_id').errors?.required">
              This field is mandatory
            </span>
        </div>
        <div>Sector:
          <select formControlName="sector">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Bank/Branch Name:
          <input type="text" class="form-control" formControlName="bank_branch_name">
        </div>
      </div>
    </form>
    <!-- Business Source Information End -->
  </div>
  <!-- Step 2 End -->

  <!-- Step 3 Start -->
  <div *ngIf="gPCount == 3">
    <!-- Proposal Information Start -->
    <form [formGroup]="proposalInformationForm">
      <div>
        <div>Proposal Information:</div>
        <div>Proposal Received Date by OPS: Datepicker
            <input type="text" class="form-control" formControlName="proposal_received_date_by_ops">
        </div>
        <div>Proposal Received Time by OPS: Timepicker
            <input type="text" class="form-control" formControlName="proposal_received_time_by_ops">
        </div>
        <div>Proposal Issue date: Datepicker
            <input type="text" class="form-control" formControlName="proposal_issue_date">
        </div>
        <div>Proposal Issue Time: Timepicker
            <input type="text" class="form-control" formControlName="proposal_issue_Time">
        </div>
        <div>Policy Start date:* Datepicker
            <input type="text" class="form-control" formControlName="policy_start_date">
            <span *ngIf="getFormControl('policy_start_date').touched && 
              getFormControl('policy_start_date').errors?.required">
              This field is mandatory
            </span>
        </div>
        <div>Policy Start Time: Timepicker
            <input type="text" class="form-control" formControlName="policy_start_time">
        </div>
        <div>Policy End date: Datepicker
            <input type="text" class="form-control" formControlName="policy_end_date">
        </div>
        <div>Policy End Time:
          <input type="text" class="form-control" formControlName="policy_end_time">
        </div>
        <div>Policy Tenure :
          <select formControlName="policy_tenure">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Is Proposal Issued? :
          <select formControlName="is_proposal_issued">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Proposal Number:
          <input type="text" class="form-control" formControlName="proposal_number">
        </div>
        <div>Place of Issue:
          <input type="text" class="form-control" formControlName="place_of_issue">
        </div>
        <div>Proposal Amount:
          <input type="text" class="form-control" formControlName="proposal_amount">
        </div>
        <div>Rural/Urban:
          <select formControlName="rural_urban">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Option For Calculation:
          <select formControlName="option_for_calculation">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Is it Master Policy : 
          <div>
            <input type="radio" name="is_it_master_policy" value="Yes" formControlName="is_it_master_policy">
            <label for="acRadio">
              <span> Yes </span>
            </label>
          </div>
          <div>
            <input type="radio" name="is_it_master_policy" value="No" formControlName="is_it_master_policy">
            <label for="acRadio">
              <span> No </span>
            </label>
          </div>
        </div>
        <div>RI Inward :
          <select formControlName="ri_inward">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Is it pre-underwritten: 
          <div>
            <input type="radio" name="is_it_pre_underwritten" value="Yes" formControlName="is_it_pre_underwritten">
            <label for="acRadio">
              <span> Yes </span>
            </label>
          </div>
          <div>
            <input type="radio" name="is_it_pre_underwritten" value="No" formControlName="is_it_pre_underwritten">
            <label for="acRadio">
              <span> No </span>
            </label>
          </div>
        </div>
        <div>Service Tax Exemption category :
          <select formControlName="service_tax_exemption_category">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div>Is Premium Config : 
          <div>
            <input type="radio" name="is_premium_config" value="Yes" formControlName="is_premium_config">
            <label for="acRadio">
              <span> Yes </span>
            </label>
          </div>
          <div>
            <input type="radio" name="is_premium_config" value="No" formControlName="is_premium_config">
            <label for="acRadio">
              <span> No </span>
            </label>
          </div>
        </div>
        <div>Coinsurance status : 
          <div>
            <input type="radio" name="coinsurance_status" value="Yes" formControlName="coinsurance_status">
            <label for="acRadio">
              <span> Yes </span>
            </label>
          </div>
          <div>
            <input type="radio" name="coinsurance_status" value="No" formControlName="coinsurance_status">
            <label for="acRadio">
              <span> No </span>
            </label>
          </div>
        </div>
        <div>Is Banca Policy : 
          <div>
            <input type="radio" name="is_banca_policy" value="Yes" formControlName="is_banca_policy">
            <label for="acRadio">
              <span> Yes </span>
            </label>
          </div>
          <div>
            <input type="radio" name="is_banca_policy" value="No" formControlName="is_banca_policy">
            <label for="acRadio">
              <span> No </span>
            </label>
          </div>
        </div>
        <div>Own Share(%) :
          <input type="text" class="form-control" formControlName="own_share">
        </div>
        <div>SME Code: *
          <input type="text" class="form-control" formControlName="sme_code">
          <span *ngIf="getFormControl('sme_code').touched && 
          getFormControl('sme_code').errors?.required">
            This field is mandatory
          </span>
        </div>
        <div>Remarks:
          <textarea formControlName="remarks"></textarea>
        </div>
        <div>Condition / Clauses : (Max length 4000):
          <textarea formControlName="condition_clauses"></textarea>
        </div>
      </div>
    </form>
    <!-- Proposal Information End -->
  </div>
  <!-- Step 3 End -->

  <!-- Step 4 Start -->
  <div *ngIf="gPCount == 4">

  </div>
  <!-- Step 4 End -->
</div>