<!-- step 1 start -->
<div *ngIf="formNumber == 1">
  General Information
  <div>
    <form [formGroup]="generalInformation">
      <div>
        Broker ID:*
        <input type="text" formControlName="broker_id">
        <span *ngIf="getFormControl('broker_id').touched && getFormControl('broker_id').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Sales Code:*
        <input type="text" formControlName="sales_code">
        <span *ngIf="getFormControl('sales_code').touched && getFormControl('sales_code').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Select Files To Upload: <button (click)="fileUpload()">Browse</button>
      </div>
      <div>
        Note:
        <input type="text" formControlName="note">
      </div>
      <div>
        IMD CODE:*
        <input type="text" formControlName="imd_code">
        <span *ngIf="getFormControl('imd_code').touched && getFormControl('imd_code').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        IMD code Note Created
        <input type="text" formControlName="imd_code_note_created">
      </div>
    </form>

  </div>
</div>
<!-- step 1 end -->

<!-- step 2 start -->
<div *ngIf="formNumber == 2">
  <form [formGroup]="policyHolderDetails">
    POLICY HOLDER DETAILS
    <div>
      <div>
        Name of the Policyholder:*
        <input type="text" formControlName="name_of_the_policyholder">
        <span *ngIf="getFormControl('name_of_the_policyholder').touched && getFormControl('name_of_the_policyholder').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Complete Address of client:*
        <input type="text" formControlName="complete_address_of_client">
        <span *ngIf="getFormControl('complete_address_of_client').touched && getFormControl('complete_address_of_client').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Finalized Quote Date/Mail Date:*
        <input type="text" formControlName="finalized_quote_date_mail_date">
        <span *ngIf="getFormControl('finalized_quote_date_mail_date').touched && getFormControl('finalized_quote_date_mail_date').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Product:*
        <input type="text" formControlName="product">
        <span *ngIf="getFormControl('product').touched && getFormControl('product').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Finalized Quote Number/Mail:
        <input type="text" formControlName="finalized_quote_number_mail">
      </div>

    </div>
    POLICY HOLDER CONTACT DETAILS
    <div>
      <div>
        Name of the Contact Person:*
        <input type="text" formControlName="name_of_the_contact_person">
        <span *ngIf="getFormControl('name_of_the_contact_person').touched && getFormControl('name_of_the_contact_person').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Mobile Number:*
        <input type="text" formControlName="mobile_number">
        <span *ngIf="getFormControl('mobile_number').touched && getFormControl('mobile_number').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        E-Mail ID for Correspondence:*
        <input type="text" formControlName="email_id_for_correspondence">
        <span *ngIf="getFormControl('email_id_for_correspondence').touched && getFormControl('email_id_for_correspondence').errors?.required">
          This field is mandatory
        </span>
        <span *ngIf="getFormControl('email_id_for_correspondence').touched && !getFormControl('email_id_for_correspondence').errors?.required 
        && getFormControl('email_id_for_correspondence').errors?.email">
          Email is invalid
        </span>
      </div>
    </div>
  </form>

</div>
<!-- step 2 end -->

<!-- step 3 start -->
<div *ngIf="formNumber == 3">
  <form [formGroup]="gstPaymentDetails">
    GST Details
    <div>
      <div>
        GST Registration Status:*
        <input type="text" formControlName="gst_registration_status">
        <span *ngIf="getFormControl('gst_registration_status').touched && getFormControl('gst_registration_status').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        GST State:*
        <input type="text" formControlName="gst_state">
        <span *ngIf="getFormControl('gst_state').touched && getFormControl('gst_state').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        GST PAN Number:*
        <input type="text" formControlName="gst_pan_number">
        <span *ngIf="getFormControl('gst_pan_number').touched && getFormControl('gst_pan_number').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Series Number-GSTN:*
        <input type="text" formControlName="series_number_gstn">
        <span *ngIf="getFormControl('series_number_gstn').touched && getFormControl('series_number_gstn').errors?.required">
          This field is mandatory
        </span>
      </div>
    </div>
    PAYMENT DETAILS
    <div>
      <div>
        Amount Paid by:*
        <input type="text" formControlName="amount_paid_by">
        <span *ngIf="getFormControl('amount_paid_by').touched && getFormControl('amount_paid_by').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Receipt Amount:*
        <input type="text" formControlName="receipt_amount">
        <span *ngIf="getFormControl('receipt_amount').touched && getFormControl('receipt_amount').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Premium:
        <input type="text" formControlName="premium">
      </div>
      <div>
        Cash Deposit:
        <input type="text" formControlName="cash_deposit">
      </div>
    </div>
  </form>
</div>
<!-- step 3 end -->

<!-- step 4 start -->
<div *ngIf="formNumber == 4">
  <form [formGroup]="abhiIntermediaryDetails">
    ABHI MARKETING PERSON DETAILS
    <div>
      <div>
        Name of the Sales Manager:*
        <input type="text" formControlName="name_of_the_sales_manager">
        <span *ngIf="getFormControl('name_of_the_sales_manager').touched && getFormControl('name_of_the_sales_manager').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Mobile Number:*
        <input type="text" formControlName="mobile_number">
        <span *ngIf="getFormControl('mobile_number').touched && getFormControl('mobile_number').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        E-Mail ID for Correspondence:*
        <input type="text" formControlName="email_id_for_correspondence">
        <span *ngIf="getFormControl('email_id_for_correspondence').touched && getFormControl('email_id_for_correspondence').errors?.required">
          This field is mandatory
        </span>
        <span *ngIf="getFormControl('email_id_for_correspondence').touched && !getFormControl('email_id_for_correspondence').errors?.required 
        && getFormControl('email_id_for_correspondence').errors?.email">
          Email is invalid
        </span>
      </div>
    </div>
    INERMEDIARY (IMD) DETAILS
    <div>
      <div>
        IMD Contact Person:*
        <input type="text" formControlName="imd_contact_person">
        <span *ngIf="getFormControl('imd_contact_person').touched && getFormControl('imd_contact_person').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        E-Mail ID for Correspondence:*
        <input type="text" formControlName="imd_email_id_for_correspondence">
        <span *ngIf="getFormControl('imd_email_id_for_correspondence').touched && getFormControl('imd_email_id_for_correspondence').errors?.required">
          This field is mandatory
        </span>
        <span *ngIf="getFormControl('imd_email_id_for_correspondence').touched && !getFormControl('imd_email_id_for_correspondence').errors?.required 
        && getFormControl('imd_email_id_for_correspondence').errors?.email">
          Email is invalid
        </span>
      </div>
      <div>
        Mobile Number:*
        <input type="text" formControlName="imd_mobile_number">
        <span *ngIf="getFormControl('imd_mobile_number').touched && getFormControl('imd_mobile_number').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Branch Reference ID:
        <input type="text" formControlName="branch_reference_id">
      </div>
      <div>
        Bank Branch name (TPD Retail Intermediary code)
        <input type="text" formControlName="bank_branch_name">
      </div>
      <div>
        Partner Reference ID (Bank RM Code)
        <input type="text" formControlName="partner_reference_id">
      </div>
      <div>
        Partner Sales Employee ID (SP Code):
        <input type="text" formControlName="partner_sales_employee_id">
      </div>
      <div>
        Location:
        <input type="text" formControlName="location">
      </div>
    </div>
  </form>
</div>
<!-- step 4 end -->

<!-- step 5 start -->
<div *ngIf="formNumber == 5">
  <form [formGroup]="tpaBusinessSegmentDetails">
    TPA DETAILS
    <div>
      <div>
        Name of the TPA
        <input type="text" formControlName="name_of_the_tpa">
      </div>
      <div>
        Mobile Number:
        <input type="text" formControlName="mobile_number">
      </div>
      <div>
        Name of Previos TPA (if different that the above)
        <input type="text" formControlName="name_of_previos_tpa">
      </div>
      <div>
        E-Mail ID for Correspondence
        <input type="text" formControlName="email_id_for_correspondence">
        <span *ngIf="getFormControl('email_id_for_correspondence').touched && !getFormControl('email_id_for_correspondence').errors?.required 
        && getFormControl('email_id_for_correspondence').errors?.email">
          Email is invalid
        </span>
      </div>
      <div>
        Location
        <input type="text" formControlName="location">
      </div>
    </div>
    Business Segment
    <div>
      <div>
        SME:
        <input type="text" formControlName="sme">
      </div>
      <div>
        Mid and Large:
        <input type="text" formControlName="mid_and_large">
      </div>
      <div>
        Affinity:
        <input type="text" formControlName="affinity">
      </div>
      <div>
        Creditor:
        <input type="text" formControlName="creditor">
      </div>
      <div>
        Rural:
        <input type="text" formControlName="rural">
      </div>
      <div>
        ABG:
        <input type="text" formControlName="abg">
      </div>
      <div>
        Top up:
        <input type="text" formControlName="top_up">
      </div>
    </div>
  </form>

  Note: SME refers to no. of lives less than 500 for base policy
</div>
<!-- step 5 end -->

<!-- step 6 start -->
<div *ngIf="formNumber == 6">
  <div>
    <table>
      <tr>
        <th>Details</th>
        <th>Details As per Quote</th>
        <th>Finalized Details</th>
      </tr>
      <tr>
        <td>Employee Count</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Dependent Count</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Lives</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Brokerage %</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total Payment Received</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Premium w/o S.T</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Serive Tax</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Cash Deposit (if any)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Total</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Diff</td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div>
    <form [formGroup]="policyDetails">
      <div>
        Policy Period:*
        <input type="text" formControlName="policy_period_start_date"> To
        <span *ngIf="getFormControl('policy_period_start_date').touched && getFormControl('policy_period_start_date').errors?.required">
            This field is mandatory
          </span>
        <input type="text" formControlName="policy_period_end_date">
        <span *ngIf="getFormControl('policy_period_end_date').touched && getFormControl('policy_period_end_date').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Policy Category:*
        <input type="text" formControlName="policy_category">
        <span *ngIf="getFormControl('policy_category').touched && getFormControl('policy_category').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Payment Type:*
        <input type="text" formControlName="payment_type">
        <span *ngIf="getFormControl('payment_type').touched && getFormControl('payment_type').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        If Instalmemt - Frequency:*
        <input type="text" formControlName="if_instalmemt_frequency">
        <span *ngIf="getFormControl('if_instalmemt_frequency').touched && getFormControl('if_instalmemt_frequency').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Co Insurance (if any):*
        <input type="text" formControlName="co_insurance">
        <span *ngIf="getFormControl('co_insurance').touched && getFormControl('co_insurance').errors?.required">
          This field is mandatory
        </span>
      </div>
    </form>

  </div>
</div>
<!-- step 6 end -->

<!-- step 7 start -->
<div *ngIf="formNumber == 7">
  Policy Servicing
  <div>
    <form [formGroup]="policyServicing">
      <div>
        Policy Document to be sent to:*
        <input type="text" formControlName="policy_document_to_be_sent_to">
        <span *ngIf="getFormControl('policy_document_to_be_sent_to').touched && getFormControl('policy_document_to_be_sent_to').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Complete address for policy dispatch:*
        <input type="text" formControlName="complete_address_for_policy_dispatch">
        <span *ngIf="getFormControl('complete_address_for_policy_dispatch').touched && getFormControl('complete_address_for_policy_dispatch').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Health Card Issuance:*
        <input type="text" formControlName="health_card_issuance">
        <span *ngIf="getFormControl('health_card_issuance').touched && getFormControl('health_card_issuance').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Regular Communications to be sent to:*
        <input type="text" formControlName="regular_communications_to_be_sent_to">
        <span *ngIf="getFormControl('regular_communications_to_be_sent_to').touched && getFormControl('regular_communications_to_be_sent_to').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Endorsements method:*
        <input type="text" formControlName="endorsements_method">
        <span *ngIf="getFormControl('endorsements_method').touched && getFormControl('endorsements_method').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Claim payment to:*
        <input type="text" formControlName="claim_payment_to">
        <span *ngIf="getFormControl('claim_payment_to').touched && getFormControl('claim_payment_to').errors?.required">
          This field is mandatory
        </span>
      </div>
      <div>
        Finalised Quote No/Option No.:
        <input type="text" formControlName="finalised_quote_no_option_no">
      </div>
    </form>

  </div>
</div>
<!-- step 7 end -->

<app-upload-files [AllowMultiple]="true" #uploadFileModal></app-upload-files>