<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="{{homeRfqLink}}">ABHI Workflow POC</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">         
        <a class="nav-item nav-link active" routerLink="{{homeRfqLink}}">Home</a>       
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
          <a class="nav-item nav-link">
              {{user}}
             </a>  
          <a class="nav-item nav-link" style="cursor: pointer" (click)="signout()">
              Sign Out
            </a>   
      </div>
    </div>
  </nav>
  <div class="col-md-12 text-center"> 
      <a class="nav-item nav-link" class="btn btn-primary" style="margin-top:50px" routerLink="{{addRfqLink}}" *ngIf="canAddRfq()">Upload Rfq</a>
 
  </div>
  <div class="col-md-12 text-center"> 
      <a class="nav-item nav-link" class="btn btn-primary" style="margin-top:50px" routerLink="{{viewRfqLink}}">View Rfq </a>
 
  </div>

  


