<div>

  <mat-tab-group>
    <mat-tab label="{{tab1Lable}}">
      <div>Client Name : {{clientDetail?.name}}</div>
      <div>E-card type option:
        <select [(ngModel)]="eCaedType">
          <option *ngFor="let obj of eCaedTypeList" [selected]="eCaedType == obj" [ngValue]="obj">{{obj}}</option>
        </select>
      </div>
      <div>Client ID:</div>
      <div>Policy Number:</div>
      <div>Upload Member:*
        <span (click)="fileUpload()">Browse</span>
        <span (click)="generateFromSystem()">Generate from system</span>
      </div>
      <button (click)="goToClientPage()">> Go to Client Details</button>
      <button (click)="generateECard()">Generate E Card</button>
    </mat-tab>
    <mat-tab label="{{tab2Lable}}">
      download file
      <button (click)="goToClientPage()">> Go to Client Details</button>
    </mat-tab>
  </mat-tab-group>

</div>

<app-upload-files #uploadFileModal></app-upload-files>

<!-- successModal -->
<div id="success-popup" class="modal fade" bsModal #successModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          E Card Generated successfully
        </div>
      </div>
      <div>
        <button (click)="goToClientPage()"> > Go To Client Page </button>
        <button (click)="reviewButton()"> > Review </button>
      </div>
    </div>

  </div>
</div>
<!-- successModal -->