<div>
  <mat-tab-group>
    <mat-tab label="{{tab1Lable}}">
      <div>Client Name : {{clientDetail?.name}}</div>
      <div>Rater Type:
        <select [(ngModel)]="raterType">
          <option *ngFor="let obj of raterTypeList" [selected]="raterType == obj" [ngValue]="obj">{{obj}}</option>
        </select>
        <button (click)="generateRater()">Generate Rater</button>
      </div>
      <div>Client ID:</div>
      <div>Quotation Number:</div>
      <div>Policy Number:</div>
      <div>Rater Upload:* <span (click)="fileUpload()">Browse</span></div>
      <button (click)="goToClientPage()">> Go to Client Details</button>
      <button (click)="submitRater()">Submit Rater</button>
    </mat-tab>
    <mat-tab label="{{tab2Lable}}">
      download file
      <button (click)="goToClientPage()">> Go to Client Details</button>
    </mat-tab>
  </mat-tab-group>
</div>

<app-upload-files #uploadFileModal></app-upload-files>

<!-- generateRaterModal -->
<div id="generate-rater-popup" class="modal fade" bsModal #generateRaterModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          Generate Rater:
        </div>
      </div>
      <div>
        <button (click)="previewButton()"> Preview </button>
      </div>
    </div>

  </div>
</div>
<!-- generateRaterModal -->

<!-- policyTypeModal -->
<div id="policy-type-popup" class="modal fade" bsModal #policyTypeModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          Policy Type:
          <button (click)="gpaButton()">GPA</button>
          <button (click)="ghiButton()">GHI</button>
        </div>
      </div>
      <div>
        <button (click)="previewButton()"> Preview </button>
      </div>
    </div>

  </div>
</div>
<!-- policyTypeModal -->


<!-- gpaModal -->
<div id="gpa-popup" class="modal fade" bsModal #gpaModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          <table>
            <tr>
              <th>Group</th>
              <th>PermileRate</th>
            </tr>
            <tr>
              <td>Group 1</td>
              <td></td>
            </tr>
            <tr>
              <td>Group 2</td>
              <td></td>
            </tr>
          </table>
          <button (click)="gpaUploadRater()">Upload Rater</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- gpaModal -->

<!-- ghiModal -->
<div id="ghi-popup" class="modal fade" bsModal #ghiModal="bs-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          <table>
            <tr>
              <th>Group</th>
              <th>0-5</th>
            </tr>
            <tr>
              <td>Group 1</td>
              <td></td>
            </tr>
            <tr>
              <td>Group 2</td>
              <td></td>
            </tr>
          </table>
          <button (click)="ghiUploadRater()">Upload Rater</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ghiModal -->

<!-- successModal -->
<app-popup [messageTitle]="'Rater Uploaded Successfully'" 
  [buttonText]="'OK'" (onClickOutput)="hideSuccessModal($event)"
  #successModal></app-popup>
<!-- successModal -->