<div>
  <input type="text" placeholder="Search" (keydown)="textSearch($event)">
  <a routerLink="{{businessIntimationLink}}">View Rfq </a>
  NOTIFICATIONS
  <div>
    <ag-grid-angular 
      #agGrid
      style="width: 500px; height: 500px;" 
      class="ag-theme-balham"
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>

<!-- actionRequiredModal -->
<div id="action-required-popup" class="modal fade" bsModal #actionRequiredModal="bs-modal" role="dialog">
  <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <span>!ACTION REQUIRED</span>
            <span (click)="hideActionRequiredModal()">X</span>
          </div>
          <div>
            <div>
                Business Intimation for
                NCUBE PLANNING AND DESIGN PRIVATE LIMITED
    
                from :
    
                Note: <textarea [(ngModel)]="noteModel"></textarea>
            </div>
            <div>
                Attachments:
            </div>
            
          </div>
          <div>
              <button (click)="takeAction()"> > Take Action </button>
              <button (click)="goToClientPage()"> > Go to Client Page</button>
          </div>
      </div>

  </div>
</div>
<!-- actionRequiredModal -->
