<div>
  <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
    <mat-tab label="{{tab1Lable}}{{gPCount}}">
      <app-general-proposal [gPCount]="gPCount" #generalProposal></app-general-proposal>
    </mat-tab>
    <mat-tab label="{{tab2Lable}}{{cCount}}">
      <app-coinsurance [cCount]="cCount" #coinsurance></app-coinsurance>
    </mat-tab>
    <mat-tab label="{{tab3Lable}}{{rDCount}}">
      <app-risk-details [rDCount]="rDCount" #riskDetails></app-risk-details>
    </mat-tab>
    <mat-tab label="{{tab4Lable}}{{pPCount}}">
      <app-past-policy [pPCount]="pPCount" #pastPolicy></app-past-policy>
    </mat-tab>
    <mat-tab label="{{tab5Lable}}{{pCount}}">
      <app-premium [pCount]="pCount" #premium></app-premium>
    </mat-tab>
  </mat-tab-group>
  <button (click)="backButton()">Back</button>
  <button (click)="nextButton()">Next</button>
</div>

<!-- quotatinNoModal -->
<div id="quotatin-no-popup" class="modal fade" bsModal #quotatinNoModal="bs-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
            Quotatin No.:
            {{quotatinNo}}
        </div>
      </div>
      <div>
        <button (click)="goToClientPage()">>Go to Client Page</button>
        <button (click)="hideQuotatinNoModal()">>Continue </button>
      </div>
    </div>

  </div>
</div>
<!-- quotatinNoModal -->