<!-- successModal -->
<div id="success-popup" class="modal fade" bsModal #successModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          {{messageTitle}}
        </div>
      </div>
      <div>
        <button (click)="hideSuccessModal()"> {{buttonText}} </button>
      </div>
    </div>

  </div>
</div>
<!-- successModal -->