<div>
  <div>
      <ag-grid-angular 
      #agGrid
      style="width: 500px; height: 500px;" 
      class="ag-theme-balham"
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      [rowSelection]="rowSelection"
      (selectionChanged)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  
  <div>
    <div>CoInsurance Information : </div>
    <div>
      <form [formGroup]="coinsuranceForm">
        <div> CoInsurance Type: *
          <select formControlName="co_insurance_type">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div> Unique Reference Code:
          <input type="text" class="form-control" formControlName="unique_reference_code"> </div>
        <div> Full commission to be paid by the leader :
          <input type="checkbox" formControlName="full_commission_leader"> </div>
        <div> S. Tax to be paid by leader:
          <input type="checkbox" formControlName="s_tax_leader"> </div>
        <div> Policy Number:
          <input type="text" class="form-control" formControlName="policy_number"> </div>
        <div> CoInsurer Type: *
          <select formControlName="co_insurer_type">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div> Insurance Company: *
          <select formControlName="insurance_company">
            <option *ngFor="let obj of dropdownlist" [selected]="'a' == obj" [ngValue]="obj">{{obj}}</option>
          </select>
        </div>
        <div> Branch:
          <input type="text" class="form-control" formControlName="branch"> </div>
        <div> Office Code:
          <input type="text" class="form-control" formControlName="office_code"> </div>
        <div> Address:
          <textarea formControlName="address"></textarea> </div>
        <div> Share(%) : *
          <input type="text" class="form-control" formControlName="share"> </div>
        <div> Administrative Charges (%): 
            <div>
                <input type="radio" name="administrative_charges" value="Yes" formControlName="administrative_charges">
                <label for="acRadio">
                  <span> Yes </span>
                </label>
              </div>
              <div>
                <input type="radio" name="administrative_charges" value="No" formControlName="administrative_charges">
                <label for="acRadio">
                  <span> No </span>
                </label>
              </div>
        </div>
        <div> Administrative Charges rate:
          <input type="text" class="form-control" formControlName="administrative_charges_rate"> </div>
        <div> Penal Charges (%): 
            <div>
              <input type="radio" name="penal_charges" value="Yes" formControlName="penal_charges">
              <label for="pcRadio">
                <span> Yes </span>
              </label>
            </div>
            <div>
              <input type="radio" name="penal_charges" value="No" formControlName="penal_charges">
              <label for="pcRadio">
                <span> No </span>
              </label>
            </div> 
        </div>
        <div> Penal Charges rate:
          <input type="text" class="form-control" formControlName="penal_charges_rate"> </div>
        <div> Other Remarks:
          <textarea formControlName="other_remarks"></textarea> 
        </div>
      </form>
    </div>
    <button (click)="submitButton()">Submit</button>
  </div>
</div>