<div>
  <mat-tab-group>
    <mat-tab label="{{tab1Lable}} {{count}}">
      <!-- Information 1 start -->
      <div *ngIf="count == 1">
        <form [formGroup]="clientInformation1form">
          <div>Customer Type:
            <div>
              <input type="radio" name="customer_type" value="Retail" formControlName="customer_type">
              <label for="tenureRadio">
                <span> Retail </span>
              </label>
            </div>
            <div>
              <input type="radio" name="customer_type" value="Group" formControlName="customer_type">
              <label for="tenureRadio">
                <span> Group </span>
              </label>
            </div>
          </div>
          <div>Govt Undertaking:
            <input type="checkbox" formControlName="govt_undertaking">
          </div>
          <div>ETA Account Available:
            <div>
              <input type="radio" name="eta_account_available" value="Yes" formControlName="eta_account_available">
              <label for="tenureRadio">
                <span> Yes </span>
              </label>
            </div>
            <div>
              <input type="radio" name="eta_account_available" value="No" formControlName="eta_account_available">
              <label for="tenureRadio">
                <span> No </span>
              </label>
            </div>
          </div>
          <div>Apply for ETA Account:
            <div>
              <input type="radio" name="apply_for_eta_account" value="Yes" formControlName="apply_for_eta_account">
              <label for="tenureRadio">
                <span> Yes </span>
              </label>
            </div>
            <div>
              <input type="radio" name="apply_for_eta_account" value="No" formControlName="apply_for_eta_account">
              <label for="tenureRadio">
                <span> No </span>
              </label>
            </div>
          </div>
          <div>Salutation:
            <select formControlName="salutation">
              <option *ngFor="let obj of dropdownlist" [selected]="clientInformation1form.get('salutation').value == obj" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>
          <div>PinCode: *
            <input type="text" formControlName="pincode">
            <span *ngIf="getFormControl('pincode').touched && getFormControl('pincode').errors?.required">
              This field is mandatory
            </span>
          </div>
          <div>Name of Company: *
            <input type="text" formControlName="name_of_company">
            <span *ngIf="getFormControl('name_of_company').touched && getFormControl('name_of_company').errors?.required">
              This field is mandatory
            </span>
          </div>
          <div>Company type:
            <select formControlName="company_type">
              <option *ngFor="let obj of dropdownlist" [selected]="clientInformation1form.get('company_type').value == obj" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>
          <div>Date of Incorporation:
            <input type="text" formControlName="date_of_incorporation">
          </div>
          <div>Industry Type:
            <select formControlName="industry_type">
              <option *ngFor="let obj of dropdownlist" [selected]="clientInformation1form.get('industry_type').value == obj" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>
          <div>Nationality:
            <select formControlName="nationality">
              <option *ngFor="let obj of dropdownlist" [selected]="clientInformation1form.get('nationality').value == obj" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>
          <div>Service Tax Registration No:
            <input type="text" formControlName="service_tax_registration_no">
          </div>
          <div>TAN No:
            <input type="text" formControlName="tan_no">
          </div>
          <div>Company Registration No:
            <input type="text" formControlName="company_registration_no">
          </div>
          <div>Is ABG Policy:
            <div>
              <input type="radio" name="is_abg_policy" value="Yes" formControlName="is_abg_policy">
              <label for="tenureRadio">
                <span> Yes </span>
              </label>
            </div>
            <div>
              <input type="radio" name="is_abg_policy" value="No" formControlName="is_abg_policy">
              <label for="tenureRadio">
                <span> No </span>
              </label>
            </div>
          </div>
          <div>Do you have Pan:
            <div>
              <input type="radio" name="do_you_have_pan" value="Yes" formControlName="do_you_have_pan">
              <label for="tenureRadio">
                <span> Yes </span>
              </label>
            </div>
            <div>
              <input type="radio" name="do_you_have_pan" value="No" formControlName="do_you_have_pan">
              <label for="tenureRadio">
                <span> No </span>
              </label>
            </div>
          </div>
          <div>Pan Number:
            <input type="text" formControlName="pan_number">
          </div>
        </form>
      </div>
      <!-- Information 1 end -->

      <!-- Information 2 start -->
      <div *ngIf="count == 2">
        <form [formGroup]="clientInformation2form">
          <div>Primary Email ID:
            <input type="text" formControlName="primary_email_id">
          </div>
          <div>Contact Person:
            <input type="text" formControlName="contact_person"> 
          </div>
          <div>Client Mobile Number:
            <input type="text" formControlName="client_mobile_number">
          </div>
          <div>STD Landline No:
            <input type="text" formControlName="std_landline_no">
          </div>
          <div>Start Date:
            <input type="text" formControlName="start_date">
          </div>
          <div>End Date:
            <input type="text" formControlName="end_date">
          </div>
          <div>Others:
            <textarea formControlName="others"></textarea>
          </div>
          <div>Remarks:
            <textarea formControlName="remarks"></textarea>
          </div>
          <div>Status:
            <div>
              <input type="radio" name="status" value="Active" formControlName="status">
              <label for="tenureRadio">
                <span> Active </span>
              </label>
            </div>
            <div>
              <input type="radio" name="status" value="In-Active" formControlName="status">
              <label for="tenureRadio">
                <span> In-Active </span>
              </label>
            </div>
          </div>
          <div>GST Registration Status:
            <select formControlName="gst_registration_status">
              <option *ngFor="let obj of dropdownlist" [selected]="clientInformation2form.get('gst_registration_status').value == obj"
                [ngValue]="obj">{{obj}}</option>
            </select>
          </div>
          <div>Sun Sidary:
            <div>
              <input type="radio" name="sun_sidary" value="Yes" formControlName="sun_sidary">
              <label for="tenureRadio">
                <span> Yes </span>
              </label>
            </div>
            <div>
              <input type="radio" name="sun_sidary" value="No" formControlName="sun_sidary">
              <label for="tenureRadio">
                <span> No </span>
              </label>
            </div>
          </div>
          <div>State (GST):
            <select formControlName="state_gst">
              <option *ngFor="let obj of dropdownlist" [selected]="clientInformation2form.get('state_gst').value == obj" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>
          <div>Pan Number (GST):
            <input type="text" formControlName="pan_number_gst">
          </div>
          <div>Series Number (GST):
            <input type="text" formControlName="series_number_gst">
          </div>
          <div>Go Green:
            <input type="checkbox" formControlName="go_green">
          </div>
          <div>Note:
            <textarea formControlName="note"></textarea>
          </div>
        </form>
      </div>
      <!-- Information 2 end -->

      <!-- Information 3 start -->
      <div *ngIf="count == 3">
        <form [formGroup]="clientInformation3form">
          <div>IS Parent/child available:
            <div>
              <input type="radio" name="is_parent_child_available" value="Yes" formControlName="is_parent_child_available">
              <label for="tenureRadio">
                <span> Yes </span>
              </label>
            </div>
            <div>
              <input type="radio" name="is_parent_child_available" value="No" formControlName="is_parent_child_available">
              <label for="tenureRadio">
                <span> No </span>
              </label>
            </div>
          </div>
          <div>Select tagging:
            <select formControlName="select_tagging">
              <option *ngFor="let obj of dropdownlist" [selected]="clientInformation3form.get('select_tagging').value == obj" [ngValue]="obj">{{obj}}</option>
            </select>
          </div>
          <div>Tag Parent/child ID:
            <input type="text" formControlName="tag_parent_child_id">
          </div>
        </form>
      </div>
      <!-- Information 3 end -->

      <button (click)="buttonNext()">{{buttonText}}</button>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- clientIdModal -->
<div id="action-required-popup" class="modal fade" bsModal #clientIdModal="bs-modal" role="dialog">
    <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
            <div>
              <div>
                  Client ID
                  {{clientId}}
              </div>
            </div>
            <div>
                <button (click)="hideClientIdModal()"> OK </button>
            </div>
        </div>
  
    </div>
  </div>
  <!-- clientIdModal -->