<div id="upload-files-popup" class="modal fade in" bsModal #uploadModal="bs-modal" [config]="{backdrop: 'static'}" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <a (click)="uploadModal.hide()">
                        X
                    </a>
                </div>
                <div>
                    <file-drop class="col-md-12 col-sm-12 col-xs-12" [style.background-color]="file != null ? '#93939321' : 'white'" (onFileDrop)="dropped($event)"
                        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                        <div>
                            <div>
                                <span>
                                    <button>click here to browse</button>
                                    <input type="file" *ngIf="!AllowMultiple" #fileBrowse (change)="handleFileInput($event)" />
                                    <input type="file" *ngIf="AllowMultiple" multiple (change)="handleFileInput($event)" />
                                </span>
                            </div>

                            <div>
                                <button (click)="notifyImageChanged()">
                                    Upload a File
                                </button>
                            </div>
                            <div *ngIf="notes" [innerHtml]="notes"></div>
                            <div class="uploadfile-name" *ngIf="files && files.length != 0">Files :
                                <span *ngFor="let file of files; let i = index">
                                    {{i+1}}. {{file.name}}
                                    <br>
                                </span>
                            </div>
                            <div *ngIf="file != null">File : {{file.name}} </div>
                        </div>
                    </file-drop>
                </div>
            </div>
        </div>
    </div>
</div>