<div>
  <mat-tab-group>
    <mat-tab label="{{tab1Lable}} {{cPSCount}}">
      <div>

      </div>
      <div>
        TPA Details
      </div>
      <button (click)="editButton()"> Edit</button>
      <button (click)="nextButton()"> {{ buttonTittle }} </button>
    </mat-tab>
    <mat-tab label="{{tab2Lable}}">
      download file
      <button (click)="goToClientPage()">> Go to Client Details</button>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- successModal -->
<div id="success-popup" class="modal fade" bsModal #successModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          Policy Schedule Generated successfully
        </div>
      </div>
      <div>
        <button (click)="goToClientPage()"> > Go To Client Page </button>
        <button (click)="reviewButton()"> Review </button>
      </div>
    </div>

  </div>
</div>
<!-- successModal -->