<div>
  <div>
    <div>Client Name : {{clientDetail?.name}}</div>
    <div>Client ID: {{ clientId }}</div>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab label="{{tab1Lable}}">
        <form [formGroup]="createHcnForm">
          <div>Date:
            <input type="text" formControlName="date">
          </div>
          <div>Payment Date:*
            <input type="text" formControlName="payment_date">
            <span *ngIf="getFormControl('payment_date').touched && 
            getFormControl('payment_date').errors?.required">
              This field is mandatory
            </span>
          </div>
          <div>Address:*
            <input type="text" formControlName="addrerss">
            <span *ngIf="getFormControl('addrerss').touched && 
            getFormControl('addrerss').errors?.required">
              This field is mandatory
            </span>
          </div>
          <div>Name Of the Bank & Branch: *
            <input type="text" formControlName="name_of_the_bank_and_branch">
            <span *ngIf="getFormControl('name_of_the_bank_and_branch').touched && 
            getFormControl('name_of_the_bank_and_branch').errors?.required">
              This field is mandatory
            </span>
          </div>
          <div>Subject:*
            <input type="text" formControlName="subject">
            <span *ngIf="getFormControl('subject').touched && 
            getFormControl('subject').errors?.required">
              This field is mandatory
            </span>
          </div>
          <div>Reference No.:*
            <input type="text" formControlName="reference_no">
            <span *ngIf="getFormControl('reference_no').touched && 
            getFormControl('reference_no').errors?.required">
              This field is mandatory
            </span>
          </div>
          <div>Policy Start date:*
            <div>
              <input type="text" formControlName="policy_start_date">
              <span *ngIf="getFormControl('policy_start_date').touched && 
                getFormControl('policy_start_date').errors?.required">
                This field is mandatory
              </span>
            </div>
            <div>
              <input type="text" formControlName="policy_end_date">
              <span *ngIf="getFormControl('policy_end_date').touched && 
                  getFormControl('policy_end_date').errors?.required">
                This field is mandatory
              </span>
            </div>
          </div>
          <div>Amount Of Policy:*
            <input type="text" formControlName="amount_of_policy">
            <span *ngIf="getFormControl('amount_of_policy').touched && 
              getFormControl('amount_of_policy').errors?.required">
              This field is mandatory
            </span>
          </div>
        </form>

        <button (click)="preview()">Preview</button>
      </mat-tab>
      <mat-tab label="{{tab2Lable}}">
        download file
        <button (click)="goToClientHome()">> Go to Client Home</button>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- previewModal -->
<div id="preview-popup" class="modal fade" bsModal #previewModal="bs-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          <div>Date: {{createHcnValue?.date}}</div>
          <div>Addrerss: {{createHcnValue?.addrerss}}</div>
          <div>Subject: {{createHcnValue?.subject}}</div>
          <div>Amount Of Policy: {{createHcnValue?.amount_of_policy}}</div>
          <div>Payment Date: {{createHcnValue?.payment_date}}</div>
          <div>Name Of the Bank & Branch: {{createHcnValue?.name_of_the_bank_and_branch}}</div>
          <div>Reference No.: {{createHcnValue?.reference_no}}</div>
          <div>Policy Start date: {{createHcnValue?.policy_start_date}} To {{createHcnValue?.policy_end_date}}</div>
        </div>
      </div>
      <div>
        <button (click)="hidePreviewModal()"> < Go To Back </button>
        <button (click)="hidePreviewModal()"> > Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- previewModal -->