<div>
  <div *ngIf="isUploadFlag">
    <mat-tab-group>
      <mat-tab label="{{tab1Lable}}">
        <div>Client Name : {{clientDetail?.name}}</div>
        <div>Client ID:</div>
        <div>Quotation Number:</div>
        <div>Policy Number:</div>
        <div>Upload Member:* <span (click)="fileUpload()">Browse</span></div>
        <button (click)="goToClientDetails()">> Go to Client Details</button>
        <button (click)="submit()">Submit</button>
      </mat-tab>
      <mat-tab label="{{tab2Lable}}">
        download file
        <button (click)="goToClientHome()">> Go to Client Home</button>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="!isUploadFlag">
    <div>
      <div>Group Definition</div>
      <div>S.no
        <ag-grid-angular #agGrid style="width: 50%; height: 200px;" class="ag-theme-balham" [rowData]="rowData"
          [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
      <div>Covered Member Information:</div>
      <div>
        <table>
          <tr>
            <th>S.no.</th>
            <th>Total Covered Member</th>
          </tr>
          <tr>
            <td>1</td>
            <td>51</td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <button (click)="goToClientPage()">> Go to Client Details</button>
      <button (click)="managePremium()">> Manage Premium</button>
    </div>
  </div>
</div>

<app-upload-files #uploadFileModal></app-upload-files>

<!-- successModal -->
<div id="success-popup" class="modal fade" bsModal #successModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          Member data Uploaded successfully
        </div>
      </div>
      <div>
        <button (click)="goToClientPage()"> > Go To Client Page </button>
        <button (click)="checkButton()"> > Check </button>
      </div>
    </div>

  </div>
</div>
<!-- successModal -->