<div>
  <mat-tab-group>
    <mat-tab label="{{tab1Lable}} {{mPCount}}">
      <div *ngIf="mPCount == 1">
        <div>
          Receipt Details:
          <ag-grid-angular #agGrid style="width: 50%; height: 200px;" class="ag-theme-balham" [rowData]="rowData"
            [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
          </ag-grid-angular>
        </div>
        <div>
          Installment Calculation
          <div>
            <div>Net Amount :</div>
            <div>Service tax:</div>
            <div>Net Installment Amount:</div>
            <div>Effective Date:</div>
            <div>Billing Cycle:</div>
            <div>Service tax collected with first premium:</div>
          </div>
        </div>
      </div>
      <div *ngIf="mPCount == 2">
        <div>Premium Details :
          <div>
            Stamp Duty
          </div>
          <div>
            Base Premium:
          </div>
          <div>
            Total GST Amount:
          </div>
          <div>
            Net Premium:
          </div>
          <div>
            Total Premium:
          </div>
        </div>
        <div>Premium Adjustment :
          <div>
            Policy Premium:
          </div>
          <div>
            Premium After Member Upload:
          </div>
          <div>
            Difference Premium:
          </div>
          <div>
            Total Limit (Upto 5%)
          </div>
          <div>
            Difference GST Premium:
          </div>
          <div>
            Total Difference Premium:
          </div>

          Calculation Method:
          Credit Limit:
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{tab2Lable}}">
    </mat-tab>
  </mat-tab-group>

  <button (click)="buttonNext()"> {{buttonTittle}} </button>
</div>

<!-- successModal -->
<div id="success-popup" class="modal fade" bsModal #successModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          Data Uploaded successfully
        </div>
      </div>
      <div>
        <button (click)="generateAnnexsure()"> > Generate Annexsure </button>
      </div>
    </div>

  </div>
</div>
<!-- successModal -->

<!-- annexsureGeneratedModal -->
<div id="annexsure-generated-popup" class="modal fade" bsModal #annexsureGeneratedModal="bs-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div>
        <div>
          Annexsure Generated
        </div>
      </div>
      <div>
        <button (click)="goToClientPage()"> > Go To Client Page </button>
        <button (click)="downloadAnnexsure()"> > Download Annexsure </button>
      </div>
    </div>

  </div>
</div>
<!-- annexsureGeneratedModal -->