.grid-container {
    display: grid;
    grid-template-columns: 800px 100px 500px auto;
  }

  .left {
    grid-column-start: 1;
    grid-column-end: 2;
  }


  .right {
    grid-column-start: 3;
    grid-column-end: 4;
  }