<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="{{homeRfqLink}}">ABHI Workflow POC</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="{{homeRfqLink}}">Home</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <a class="nav-item nav-link">
            {{user}}
          </a>   
      <a class="nav-item nav-link" style="cursor: pointer" (click)="signout()">
        Sign Out
      </a>     
    </div>
  </div>
</nav>
<div class="grid-container">
  <ag-grid-angular #agGrid style="margin-left:100px; width: 700px; height: 500px;" class="ag-theme-balham left" [rowData]="rowData"
    [columnDefs]="columnDefs" rowSelection="single" rowDeselection="true"  (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)">
  </ag-grid-angular>


  <div class="right container" *ngIf="selectedData">
      <h2>Upload Rfq</h2>
      <form class="form-horizontal" [formGroup]="dataForm">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Company Name :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="Enter company name" name="email" formControlName="CompanyName">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="companyAddress">Address :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="companyAddress" placeholder="Enter company address" name="companyAddress" formControlName="CompanyAddress">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="empCount">Employees :</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="empCount" placeholder="Enter Employee Count" name="empCount" formControlName="EmpCount">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-2" for="amount">Amount :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="amount" placeholder="Enter Quote Amount" name="amount" formControlName="Amount">
              </div>
          </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">

              <button class="btn btn-primary" *ngIf="CanApprove()" (click)="Approve()">Approve</button>

              <div  *ngIf="CanReject()">
                Comment : <input type="text" [formControl]="comment">
              </div>
              <button class="btn btn-primary" *ngIf="CanReject()" (click)="Reject()">Reject</button>
          
              <button class="btn btn-primary" *ngIf="CanModify() && !isEditing" (click)="Modify()">Modify</button>
              <button class="btn btn-primary" *ngIf="isEditing" (click)="Save()">Save</button>
           
          </div>
        </div>
      </form>
    </div>


  <div>  


 

  </div>


</div>