<div>
    <div *ngIf="!isPreviewFlag">
        <div>Drag & Drop Column header to Member data header</div>
        <div>
          Your Header
      
          <div>First Name</div>
        </div>
        <div>
          Format Member Data Header
          <div>Family_id</div>
        </div>
        <div>
          <button (click)="preview()">Preview</button>
        </div>
      
      </div>
      <div *ngIf="isPreviewFlag">
        <div>Preview Member Data</div>
        <div>Table</div>
        <div>
          <button (click)="backButton()">> Back</button>
          <button (click)="uploadButton()">> Upload</button>
        </div>
      </div>
</div>
